tmp/
log/
log
#*#
*~
*.swp
.project
.aptana
.loadpath
config/database.yml
config/dcm4chee.yml
config/openmrs.yml
Capfile
config/email.yml
config/deploy.rb
image_archive
.idea
public/javascripts/all.js
hl7/
hl7

.bundle
.idea