<% @encounter.images.each do |i| -%>
    <div id="thumbnail-<%= i.id %>" class="col-md-2 well well-sm" >
    	<% tag = image_tag("/image/thumb/#{i.id}.jpg") -%>
		<%= if ["radiologist", "admin", "super_radiologist", "assistant"].include?(@current_user.privilege.name)
                link_to(tag, :controller => "encounter", :action => "report", :id => @encounter.id)
	        else
				link_to(tag, :controller => "image", :action => "view", :id => i)
            end %>
    </div>
<% end -%>