<% @page_title = "Add User" -%>
<% setup_admin_layout %>

<%= error_messages_for  'user' %>
<%= form_tag :action => "add_user", :id => @user %>
    <%= render_partial 'form' %>
    <%= submit_tag 'Save' %>
</form>
<%= link_to 'Back', :action => 'list_users' %>