<% @page_title = "Patient List" %>
<% setup_admin_layout %>

<%= error_messages_for 'patient' %>

<table>
    <tr>
        <th>Ampath ID</th>
        <th>MTRH Rad ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Birthdate</th>
        <th></th>
    </tr>
    <%= render :partial => "shared/patient", :collection => @patients %>
</table>