<% @page_title = "Statistics" -%>
<% setup_admin_layout %>

Total Patients: <%= @patients.length %><br/>
Patient encounters today: <%= @today.length %><br/>
Patient reports today: <%= @reports_today %><br/>