/* Css for ReferralPACS 2.0 */
/* Three-column layout stolen from http://www.glish.com/css/7.asp, Thanks! */

/* Styles for ref layout */

body { 
    margin: 10px 10px 0px;
    padding: 0px;
    font:	12px/1.2 Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

#banner { 
    border-bottom: 2px solid;
    background: #5F8F08;
    color: #CDC759;
    height: 70px;
    text-align: left;
}

html > body #banner { 
    height: 70px;
}

#banner h1 { 
    margin: 0px;
    font-size: 24px;
    padding: 2px;
}

#banner h2 {
    font-size: 14px;
    padding: 2px;
}

#user_banner {
    height: 30px;
    text-align: right;
}

#user_banner h3 {
   font-size: 12px;
}

#command_list { 
    background: #728f3e;
    text-align: center;
}

#command_list a {
    color: #CDC759;
    padding: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

#command_list a:hover {
    color: black;
    text-decoration: underline;
}

#centercontent {
    background: rgb(255, 255, 255);
    margin: 0 auto;
    text-align: left;
}

#centercontent p {
    padding: 5px;
}

#blankspace {
  background: rgb(255,255,255);
  padding: 5px;
}


p, h1, pre { 
    margin: 0px 10px 10px;
}

h1 { 
  font-size: 14px;
}

/* Alternating colors */
#ListLine1 {
  background: #9bd532;
}
#ListLine0 {
  background: #CDC759;
}

/* Error formatting */

#notice {
    border: 2px solid #AED95F;
    color: #192D08;
    background-color: #BDA801;
    width: 500px;
}


#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* Global pagination */

#page_nav {

}

#left {
  float: left;
}

#right {
  float: right;
}

/* Styles for encounters/find */
#encounter {
	height: 200px;
	
}

#encounter > #header {
  background: #5F8F08;
  color: #CDC759;
  font-weight: bold;
  padding: 2px;
  font-size: small;
  clear: both;
}

#encounter > #header a {
    color: #CDC759;
    padding: 6px;
    text-decoration: none;
    font-weight: bold;
}

#encounter > #header a:hover {
    color: black;
    text-decoration: underline;
}

#encounter > #thumbnails {
	width: 20%;
	height: 150px;
	display: inline;
}

#encounter > #report {
	width: 100%;
	height: 150px;
	display: inline;
}

#report > #impression {
  padding: 5px;
  width: 200px;
  height: 20px;
  float: left;
  top: 0px;
}

#report > #observation {
	width: 450px;
	height: 20px;
	top: 0px;
	float: left;
	padding: 5px;
}

#header > #date_type {
  width: 500px;
  font-size: medium;
  color: black;
}

#header > #links {
  width: 450px;
  position: relative;
  left: 400px;
  text-align: right;
}

#new {
	width: 100%;
	font-size: large;
	font-weight: bold;
	float: left;
	padding: 0 0 5px 0;
}

#encounter-detail {
    font-size: 15px;
}

#encounter_spacer {
	width: 100%;
	height: 20px;
}

/* image/upload */
#upload {
  display: block;
  width: 100px;
}

/* Thumbnail Styles */

.thumbnail {
  text-align: left;
  float: left;
  padding: 5px;
}

#break {
  width: 100%;
}

/* Dictionary Styles */
#concept {
  width: 500px;
  font-size:20px;
}

#answer {
    font-size:10px;
}

.inplaceeditor-form input[type="text"] {
    width: 350px;
}

/* Autocomplete styles */
div.auto_complete {
    width: 350px;
    background: #fff;
}
div.auto_complete ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}
div.auto_complete ul li {
    margin: 0;
    padding: 3px;
}
div.auto_complete ul li.selected {
    background-color: #ffb;
}
div.auto_complete ul strong.highlight {
    color: #800;
    margin:0;
    padding:0;
}

/* Styles for resize sliders */
div#slider {
    margin: 10px 0 10px 10px;
}

div#slider-bar {
    width: 200px;
    background-image: url('/images/scaler_slider_track.gif');
    background-repeat: repeat-x;
    background-position: center left;
    height:18px;
}

div#slider-handle {
    width: 18px;
    height: 18px;
    margin: 0;
}

div#canvas {
    border: 1px solid #ddd;
    overflow: auto;
    margin: 0 0 30px 0;
}

.scale-image {
    width: 100px;
    height: auto;
    margin: 0;
    border: 0;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}

.img-container
	{
	margin: 4px 0px 0px 10px;
	padding: 10px 10px 10px 10px;
	float:left;
	border:1px solid #ddd;
}

/* Find Patients styles */
.search-box {
    width: 200px;
}

/* Triage styles */
#buttons {
	float: left;
}

/* Report form styles */

div.report_form {
	padding:3px;
	margin:3px;
	width:1000px;
}

div.report_form fieldset {
	margin-bottom:10px;
}
div.report_form legend {
	font-weight:bold;
	font-size:16px;
	padding:0 2px;
}
div.report_form label {
	display:inline-block;
	line-height:1.8;
	vertical-align:top;
}

div.report_form fieldset fieldset {
	margin:3px;
	padding:3px;
	float: left;
}

div.report_form fieldset fieldset legend {
	font-weight:normal;
	font-size:13px;
	padding:0 0 5px;
}
div.report_form fieldset fieldset label {
	display:block;
	width:auto;
}
div.report_form fieldset fieldset fieldset {
	margin:3px;
	padding:3px;
	float: left;
}

div.report_form fieldset fieldset fieldset legend {
	font-weight: lighter;
	font-size:12px;
	padding:0 0 5px;
}
div.report_form fieldset fieldset fieldset label {
	display:block;
	width:auto;
}

div.report_form em {
	color:#FF0000;
	font-style:normal;
	font-weight:bold;
}
div.report_form label {
	width:120px;
}
div.report_form fieldset fieldset label {
margin-left:23px;
}