/* Css for ReferralPACS 2.0 */
/* Three-column layout stolen from http://www.glish.com/css/7.asp, Thanks! */

/* Styles for tech layout */

body { margin: 10px 10px 0px;
    padding: 0px;
    font:	12px/1.2 Verdana, Arial, Helvetica, sans-serif;
}

#banner { 
    border-bottom: 2px solid;
    background: #5F8F08;
    color: #CDC759;
    voice-family: inherit;
    height: 70px;
}

html > body #banner { 
    height: 70px;
}

#banner h1 { 
    margin: 0px;
    font-size: 24px;
    padding: 2px;
}

#banner h2 {
    font-size: 14px;
    padding: 2px;
}

#leftcontent { 
    background: #728f3e;
    position: absolute;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 10px;
    width: 150px;
}

#leftcontent a {
    color: #CDC759;
    padding: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

#leftcontent a:hover {
    color: black;
    text-decoration: underline;
}

#centercontent {
    background: rgb(255, 255, 255) 
    voice-family: inherit;
    margin-left: 151px;
}

html > body #centercontent { 
    margin-left: 151px;
}

#centercontent p {
    padding: 5px;
}

#rightcontent { border: 1px solid rgb(0, 0, 0);
    background: #aed95f;
    position: absolute;
    right: 10px;
    top: 70px;
    width: 200px;
}

h1 { 
  font-size: 14px;
}

#rightcontent p { 
 font-size: 10px;
}

p, h1, pre { 
    margin: 0px 10px 10px;
}

#notice {
    border: 2px solid #AED95F;
    color: #192D08;
    background-color: #BDA801;
}

/* Styles for tech/readonly_encounter */
#encounter_type {
    font-size: 20px;
}

/* Error formatting */

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}