/* Css for ReferralPACS 2.0 */
/* Three-column layout stolen from http://www.glish.com/css/7.asp, Thanks! */

/* Styles for ref layout */

body { 
    margin: 10px 10px 0px;
    padding: 0px;
    font:	12px/1.2 Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

#banner { 
    border-bottom: 2px solid;
    background: #5F8F08;
    color: #CDC759;
    voice-family: inherit;
    height: 70px;
    text-align: left;
}

html > body #banner { 
    height: 70px;
}

#banner h1 { 
    margin: 0px;
    font-size: 24px;
    padding: 2px;
}

#banner h2 {
    font-size: 14px;
    padding: 2px;
}

#user_banner {
    height: 30px;
    text-align: right;
}

#user_banner h3 {
   font-size: 12px;
}

#command_list { 
    background: #728f3e;
    text-align: center;
}

#command_list a {
    color: #CDC759;
    padding: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

#command_list a:hover {
    color: black;
    text-decoration: underline;
}

#centercontent {
    background: rgb(255, 255, 255) 
    voice-family: inherit;
    width: 700px;
    margin: 0 auto;
    text-align: left;
}

#centercontent p {
    padding: 5px;
}


p, h1, pre { 
    margin: 0px 10px 10px;
}

h1 { 
  font-size: 14px;
}

/* Alternating colors */
#ListLine1 {
  background: #9bd532;
}
#ListLine0 {
  background: #CDC759;
}

/* Error formatting */

#notice {
    border: 2px solid #AED95F;
    color: #192D08;
    background-color: #BDA801;
    width: 250px;
}


#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* Global pagination */

#page_nav {

}

#left {
  float: left;
}

#right {
  float: right;
}

/* Styles for tech/find_encounters */
#encounter > #header {
  background: #5F8F08;
  color: #CDC759;
  font-weight: bold;
  padding: 2px;
}

#encounter > #header a {
    color: #CDC759;
    padding: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

#encounter > #header a:hover {
    color: black;
    text-decoration: underline;
}

#header > #date_type {
  width: 500;
}

#header > #links {
  width: 200;
  position: relative;
  left: 501;
  text-align: right;
}

#encounter > #impression {
  padding: 5px;
}

#encounter#header {
  background: #5F8F08;
  color: #CDC759;
  font-weight: bold;
  padding: 2px;
}

#encounter#header a {
    color: #CDC759;
    padding: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

#encounter#header a:hover {
    color: black;
    text-decoration: underline;
}

#header#date_type {
  width: 500;
}

#header#links {
  width: 200;
  position: relative;
  left: 501;
  text-align: right;
}

#encounter#impression {
  padding: 5px;
}

/* tech/upload_image */
#upload {
  display: block;
  width: 100;
}

/* Thumbnail Styles */

#thumbnail {
  float: left;
}

#thumbnail a {
  text-align: center;
}

#thumbnails {
  width: 100;
}

#full_image {
  width: 100;
  text-align: center;
  margin 0 auto;
}

/* Dictionary Styles */
#concept {
  width: 500px;
  font-size:20px;
}

#answer {
    font-size:10px;
}

.inplaceeditor-form input[type="text"] {
    width: 350px;
    autocomplete: false;
}

/* Autocomplete styles */
div.auto_complete {
    width: 350px;
    background: #fff;
}
div.auto_complete ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}
div.auto_complete ul li {
    margin:0;
    padding:3px;
}
div.auto_complete ul li.selected {
    background-color: #ffb;
}
div.auto_complete ul strong.highlight {
    color: #800;
    margin:0;
    padding:0;
}