<div id="encounter-detail">
<h2><%=h @encounter.encounter_type.name %> from <%=h @encounter.date.strftime("%d %b %Y") %></h2>
Indication: <%=h @encounter.indication %><br />
Impression: <%=h @encounter.impression %><br />
Provider:   <%=h @encounter.provider.full_name %><br />
Client:     <%=h @encounter.client.full_name %><br />
</div>