<div id="encounter">
    <div id="header">
        <div id="date_type">
            <%=h find_encounters.date.strftime("%d %b %Y") + " : " + find_encounters.encounter_type.name %>
        </div>
        <div id="links">
            <%= link_to('Show', {:action => 'show_encounter', :id => find_encounters}) %>
        </div>
    </div>
    <div id="impression">
        <p>Impression: <%=h find_encounters.impression %></p>
    </div>
</div>