<div id="page_nav">
    <%= link_to 'Previous page', { :page => @encounter_pages.current.previous }, {"id" => "left"} if @encounter_pages.current.previous %>
    <%= link_to 'Next page', { :page => @encounter_pages.current.next }, {"id" => "right"} if @encounter_pages.current.next %> 
</div>