<ul class="patients">
<% for patient in @patients do -%>
  <% if patient.mrn_ampath.nil? 
       patient_line = patient.full_name + " - none - " + patient.mtrh_rad_id
     else
       patient_line = patient.full_name + " - " + patient.mrn_ampath + " - " + patient.mtrh_rad_id.to_s
     end %>
  <li class="patient"><div class="name"><%=h patient_line %></div></li>
<% end -%>
</ul>