<h4>Observations</h4>
<table>
    <div id="observations">
        <% for @observation in @observations %>
            <%= render :partial => "observation" %>
        <% end %>
    </div>
</table>