<h2>Observations</h2>
<table>
    <div id="observations">
        <% for @observation in @encounter.observations %>
            <%= render :partial => "observation" %>
        <% end %>
    </div>
</table>