<div id="rejection" style="display: none;">
	<%= form_tag :action => "reject", :id => @encounter.id  do -%>

	    <fieldset>
	      <legend>Rejection Categories</legend>

	        <fieldset>
	        <legend>Demographics Mismatch</legend>
	            <% question = "Demographic Mismatch" -%>
	            <% choices = ["name_and_id_mismatch", "id_mismatch", "date_mismatch"] -%>
	            <%= fieldset_helper(question,choices) %>
	        </fieldset>
	    </fieldset>
	<%= submit_tag "Reject Encounter", :class => "btn btn-default" %>

	<% end -%>
</div>
