<% @page_title = "Encounter List" %>
<% setup_admin_layout %>

<%= error_messages_for "encounter" %>

<%= render :partial => "find_encounters_del",
           :collection => @encounters %>

<%= render :partial => "page_nav",
           :locals => {:encounter_pages => @encounter_pages} unless @encounter_pages.nil? %>
<br />
<br />
<%= link_to 'New Encounter', {:action => 'new_encounter', :id => @patient.id} %><br/>