<% if @current_user.privilege.add_encounter -%>

	<div class="row">
		<button type="button" class="btn btn-default">
			<%= link_to('New Encounter', {:action => 'new', :id => @patient.id}) -%></a>
		</button>
		<br/>
		<br/>
	</div>

<% end -%>

<%= render :partial => "encounter_summary", :collection => @encounters %>
