<% @page_title = "Encounter List" %>

<%= error_messages_for "encounter" %>

<%= render :partial => "encounter_summary",
           :collection => @encounters %>
		   
<div id="new">
  <%= link_to('New Encounter', {:action => 'new', :id => @patient.id}) if @current_user.privilege.add_encounter %><br/>	
  <%= link_to('Find Patient', {:controller => :patient, :action => :find}) %>
</div>
