<% @page_title = "Encounter List" %>

<%= error_messages_for "encounter" %>

<%= render :partial => "encounter",
           :collection => @encounters %>

<br />
<br />
<%= link_to 'New Encounter', {:action => 'new', :id => @patient.id} %><br/>