<%= render :partial => 'form' %>

<%= link_to 'Edit', :action => 'edit', :id => @encounter %> |
<%= link_to 'List', :action => 'list' %> |
<%= link_to 'Add Image', :action => 'upload', :id => @encounter %>
