<%= render :partial => 'form' %>

<div id='thumbnails'>
<% @encounter.images.each do |i|%>
<a href='<%= i.full_url %>'><img src='<%= i.thumb_url %>'></a>
<%end%>
</div>

<%= link_to 'Edit', :action => 'edit', :id => @encounter %> |
<%= link_to 'List', :action => 'list' %> |
<%= link_to 'Add Image', :action => 'upload', :id => @encounter %>
