

<% form_for :image, @image, :url => {:action => 'add_image'}, :html => {:multipart => true} do |f| %>

  <label for='image_file_data'>File location: </label>
  <%= f.file_field :file_data %><br/>
  <%= f.hidden_field :encounter_id, :value => @encounter.id %>
  
  <%= submit_tag "upload"%>
  
<%end%>