<label for="concept_lookup" >Concept Search</label>
<input type="text" id="concept_lookup" name="concept_lookup" />
<div class="auto_complete" id="concept_lookup_auto_complete" ></div>
<%= javascript_tag("new Autocompleter.Local('concept_lookup', 'concept_lookup_auto_complete', concepts,
                                            {fullSearch: true, frequency: 0, minChars: 1});") %>