development:
  :url: https://192.168.242.128:8443/amrs/moduleServlet/restmodule/api/patient/
  :hl7_url: https://localhost:8080/amrs/ws/rest/v1/hl7
  :username: username
  :password: password
  :hl7path: hl7                              # relative to RAILS_ROOT, set to false if you don't want to write to disk
  :hl7rest: false
  :hl7sending_facility: LOCAL                # A matching entry needs to be in the OpenMRS hl7_sources table
  :hl7recv_facility: AMRS
  :preferred_identifier_type: OpenMRS Identification Number
  :json_format: pretty                       # values are either pretty or min

production:
  :url: https://192.168.242.128:8443/amrs/moduleServlet/restmodule/api/patient/
  :hl7_url: https://localhost:8080/amrs/ws/rest/v1/hl7
  :username: username
  :password: password
  :hl7path: hl7                              # relative to RAILS_ROOT, set to false if you don't want to write to disk
  :hl7rest: false
  :hl7sending_facility: LOCAL                # A matching entry needs to be in the OpenMRS hl7_sources table
  :hl7recv_facility: AMRS
  :preferred_identifier_type: OpenMRS Identification Number
  :json_format: min
