<% @page_title = "Add User" -%>
<% @side_bar_commands = [link_list_users] %>
<%= error_messages_for  'user' %>
<%= start_form_tag :action => "add_user", :id => @user %>
    <%= render_partial 'form' %>
    <%= submit_tag 'Save' %>
<%= end_form_tag %>
<%= link_to 'Back', :action => 'list_users' %>