<%= errors_for(@user) %>

<%= form_tag 'login/login' do -%>

<table>
    <tr>
        <td>E-mail: </td> 
        <td><%= text_field("user", "email") %></td>
    </tr>
    <tr>
        <td>Password: </td>
        <td><%= password_field("user", "password") %></td>
    </tr>
    <tr>
        <td></td>
        <td><input class= "btn btn-default" type="submit" value=" LOGIN " /></td>
    </tr>
</table>

<% end -%>