<% form_tag :action => "set_password", :id => @user.id do -%>

  <%= hidden_field('user', 'id', :value => @user.id) %>

<label for="new_password0">Enter Password</label><br/>
<input type="password" id="new_password0" name="new[password0]" size="20" /><br/>

<label for="new_password1">Retype Password</label><br/>
<input type="password" id="new_password1" name="new[password1]" size="20" />

<br/>
<%= submit_tag("Set Password") %>

<% end -%>