<% @page_title = "Edit User" -%>

<%= form_tag :action => "update_user", :id => @user %>
    <%= render_partial 'form_user' %>
    <%= submit_tag 'Save' %>
</form>
<%= link_to 'Back', :action => 'list_users' %>