/* calendar.js stylesheet */

table#calendar_control {
  font-family: Arial;
  position: absolute;
  border-collapse: collapse;
  background: white;
  border: 1px solid silver;
  cursor: default;
}

table#calendar_control td {
  text-align: center;
  vertical-align: middle;
  padding: 2px;
}

td#calendar_prev,  td#calendar_next {
  cursor: pointer;
}

td#calendar_header {
  font-size: 13px;
  font-weight: bold;
}

table#calendar_control td.day_letter {
  font-size: 12px;
  background: gainsboro;
}

table#calendar_control td.day_number {
  width: 18px;
  height: 18px;
  font-size: 10px;
  color: #333333;
  text-align: center;
  border: 1px solid #6487ae;
  cursor: pointer;
}
table#calendar_control td.normal {
  background: #c4d3ea;
}
table#calendar_control td.hover {
  background: #fff799;
}
table#calendar_control td.selected {
  background: #ffcc66;
}
table#calendar_control td.today {
  color: red;
}
