<% for column in Refusers.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @refusers.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @refusers %> |
<%= link_to 'Back', :action => 'list' %>
