<html>
<head>
  <title>ReferralPACS Admin: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "scaffold", "ref" %>
</head>
<body>
    <div id="banner">
        ReferralPACS : <%= @page_title %>
    </div>
    <div id="columns">
        <div id="side">
            <% if session[:user_id] -%>
                <% if !@side_bar_commands.nil? -%>
                    <% for command in @side_bar_commands %>
                        <%= command %><br />
                    <% end -%>
                    <hr/>
                <% end -%>

                <%= link_to("List patients", :controller => "patient", :action => "list") %><br />
                <hr/>
                <%= link_to("Log out", :controller => "login", :action => "logout") %>
                <hr/>
            <% end -%>
        </div>
        <div id="main">
            <% if flash[:notice] -%>
                <div id="notice"><%= flash[:notice] %></div>
            <% end -%>
            <%= @content_for_layout %>
        </div>
    </div>
</body>
</html>