<html>
<head>
  <title>Patient: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'ref' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
