<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>ReferralPACS</title>
  <%= stylesheet_link_tag 'ref' %>
</head>

<body>
    <div id="banner">
        <h1>ReferralPACS - <%= @page_title %></h1>
        <h2><%= @current_patient_banner unless @current_patient_banner.nil? %></h2>
    </div>
    <div id="columnns">
        <div id="leftcontent">
            <% if session[:user_id] -%>
                <% if !@side_bar_commands.nil? -%>
                    <% for command in @side_bar_commands %>
                        <%= command %><br />
                    <% end -%>
                <% end -%>
                <br/>
                <%= link_to "Log Out", :controller => :login, :action => :logout %><br/>
            <% end -%>
        </div>    
        <div id="centercontent">
            <% if flash[:notice] -%>
                <div id="notice"><%= flash[:notice] %></div>
            <% end -%>
            <%= @content_for_layout %>
        </div>
    </div>
</body>
</html>