<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>ReferralPACS</title>
  <%= stylesheet_link_tag 'ref' %>
</head>

<body>
    <div id="banner">
        <h1>ReferralPACS - <%= @page_title %></h1>
<% if false %>        <div id="banner-user"><% end %>
<% if false %>          Logged in as: <%= User.find(session[:user_id]).email %> | <% end %>
<% if false %>          <%= link_to "Log Out", :controller => :login, :action => :logout %><% end %>
<% if false %>        </div><% end %>
    </div>
    <div id="leftcontent">
      <%= link_to "Find Patients", :action => :find_patients %><br/>
      <%= link_to "New Patient", :action => :new_patient %><br/>
      <hr>
    </div>    
    <div id="centercontent">
        <% if flash[:notice] -%>
            <div id="notice"><%= flash[:notice] %></div>
        <% end -%>
        <%= @content_for_layout %>
    </div>
</body>
</html>